 /**{
    outline: 1px solid red;
} */
.link {
    font-weight: 700;
    padding: 21px;
    display: inline-block;
    text-decoration:none;
}
.logo {
    float: right;
}
header {
    position: fixed;
    background: greenyellow;
    width: 100%;
    top: 0;
    border: solid;
}

.menu container{
    padding: 14px 70px;
    overflow: auto;
}
#home {
    background-image: url(../img/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 554px;
    text-align: center;
    margin-top: 80px;
}

#home .container{
    color: white;
    padding: 70px;
}
.text-home {
    font-size: 53px;
}
.btn-home {
    background: #2ecc71;
    color:#fff;
    padding: 11px 20px;
    border-radius: 1px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 63px;
    display: inline-block;
    font-size: 14px;
}
#services {
    background-color: #F17C72;
    text-align: center;
    color: #fff;
    padding: 70px 7px;
}

.box-services {
    display: inline-block;
    width: 30%;
    margin-top: 63px;
}

.text-services {
    font-size: 35px;
    letter-spacing: 2px;
}

.work {
    /* background-image: url(../img/hero.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 554px;
    text-align: center;
    margin-top: 80px;
}
 .hero{
    background-repeat: no-repeat;
    background-size: 200px;
    height: 600px;
    margin-top: 80px;
    display: block;
} 
footer {
    text-align: center;
    height: 70px;
    background: #373847;
    color:white;
    padding: 7px;
}